<div fxLayout="row" fxLayoutAlign="space-between center" fxFlexFill class="logo-header-row" fxHide.lt-md>
    <img src="../../../assets/images/lisird-logo.jpg" class="logo-header-row__logo-large"/>
    <img src="../../../assets/images/lasp-logo-no-text.png" class="logo-header-row__lasp-logo"/>
</div>

<mat-toolbar class="small-toolbar mat-elevation-z3" [class.sticky-toolbar]="sticky" color="primary">
    <nav class="nav-top" [class.search-open]="searchOpen">
        <div fxLayout="row" fxLayoutAlign="space-between center">
            <img src="../../../assets/images/lisird-logo-small.png" class="logo-mini" [fxHide]="!sticky" fxShow.lt-md/>
            <a *ngFor="let nav of fillerNav" routerLink="." class="nav-item" fxHide.lt-md>{{nav}}</a>
            <button mat-icon-button (click)="openSearch()" fxHide.lt-md>
                <mat-icon aria-label="open search">search</mat-icon>
            </button>
            <button mat-stroked-button class="small-toolbar__menu-button" (click)="openNav()" fxHide.gt-sm>
                Menu <mat-icon>menu</mat-icon>
            </button>
        </div>
        <app-search [placeholder]="placeholder" (close)="closeSearch()"></app-search>
    </nav>
</mat-toolbar>

<!-- Overlay nav menu for narrow screens, hidden until "Menu" is clicked -->
<div class="nav-overlay expand-down lasp-dark-theme" [class.nav-open]="navOpen" [class.immediate-close]="closeNavImmediately">

    <mat-toolbar color="transparent" fxLayoutAlign="space-between center">
        <img src="../../../assets/images/lisird-logo-small.png" class="logo-mini" />
        <button mat-button class="nav-overlay__close-nav" (click)="closeNav()">
            <mat-icon>close</mat-icon>
        </button>
    </mat-toolbar>

    <mat-card>
        <app-search [placeholder]="placeholder" (close)="closeSearch()" (searchSent)="closeNav(true)"></app-search>
    </mat-card>

    <mat-nav-list>
        <mat-list-item *ngFor="let nav of fillerNav; last as last">
            <a routerLink="." (click)="closeNav(true)" class="overlay-nav-item">{{nav}}</a>
        </mat-list-item>
    </mat-nav-list>
</div>
