@import '../../../theme/theme-colors';

// so we can easily play with the size of the font for the nav
$font-size: 14px;

.logo-header-row {
  height: 100px;
  background-color: black;
  padding: 0;

  &__logo-large {
    height: 100px;
  }

  &__lasp-logo {
    height: 40px;
    margin: 20px;
  }
}

.nav-header-row,
.sticky-toolbar {
  overflow: hidden;
}

$navHeight: 56px;
$stickyHeaderHeight: 56px;

.nav-header-row {
  height: $navHeight;
  padding: 0;
  align-items: initial;
}

.nav-top {
  min-width: 0;
  width: 100%;
  height: 100%;
  max-width: 1000px;
  margin: 0 auto;
  align-self: flex-start;
  transition: margin-top 0.25s;

  > * {
    height: 100%;
  }

  > form {
    // the search input field overflows slightly above the upper border of the <form> element. Because of this, when
    // the search bar is hidden, a user could click in the empty space at the bottom of the nav bar and the search input
    // field would be focused, scrolling it into view. Hiding the overflow fixes this.
    overflow: hidden;
  }
}

.nav-header-row .nav-top.search-open {
  margin-top: -$navHeight;
}
.sticky-toolbar .nav-top {
  &.search-open {
    margin-top: -$stickyHeaderHeight;
  }
}

.nav-item {
  position: relative;
  font-size: $font-size;
  height: $navHeight;
  line-height: $navHeight;
  overflow-wrap: break-word;
  padding: 0 24px;
  color: white;
  cursor: pointer;

  &:hover {
    color: $color-accent;
  }


}

a {
  &:hover:after {
    visibility: visible;
    transform: scaleX(1);
  }

  &:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 4px;
    bottom: 0;
    left: 0;
    visibility: hidden;
    transform: scaleX(0);
    transition: all .2s ease-in-out 0s;
    background-color: $color-accent;
  }
}

.overlay-nav-item {
  font-size: $font-size;
  height: $navHeight;
  line-height: $navHeight;
  overflow-wrap: break-word;
  color: white;
  width: 100%;
  cursor: pointer;

  &:hover {
    color: $color-accent;
  }
}

.search-button {
  font-size: 100%;
}

.small-toolbar {
  position: sticky;
  top: 0;
  z-index: 5;

  &__menu-button {
    border-color: white !important;
  }
}

.nav-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 0;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.98);
  color: white;
  z-index: 1000;
  // since the transition duration and timing function are redefined in the .nav-open class,
  // the transition definitions below apply to when the overlay is closing (i.e. when '.nav-open' is not applied)
  transition: height 0.25s cubic-bezier(0.4, 0.0, 1, 1);

  &.nav-open {
    overflow: auto;
    height: 100%;
    // define transition properties for when the overlay is opening
    transition-duration: 0.3s;
    transition-timing-function: cubic-bezier(0.0, 0.0, 0.2, 1);
  }

  mat-toolbar {
    background-color: transparent;
  }

  mat-nav-list {
    padding: 0 16px;
  }
  mat-card {
    padding: 0 32px;
  }

  mat-nav-list,
  mat-card {
    margin-bottom: 16px;
  }

  &__close-nav {
    color: white;
  }

  .search-form-field, .search-form-field * {
    color: white;
  }

}

mat-toolbar {
  i {
    font-size: 24px;
  }
}

.logo-mini {
  height: 32px;
}
