<div
  fxLayout="row"
  fxLayoutAlign="space-between center"
  fxFlexFill
  fxHide.lt-md
  [style.backgroundColor]="largeHeaderBgColor">
    <img [src]="largeLogoSrc" class="header__logo header__logo--large"/>
    <img [src]="orgLogoSrc" class="header__logo header__logo--lasp"/>
</div>

<mat-toolbar class="nav-toolbar mat-elevation-z3" color="primary">
    <nav class="nav" [class.nav--search-open]="searchOpen">
        <div fxLayout="row" fxLayoutAlign="space-between center">
            <img [src]="smallLogoSrc" class="nav__logo" [fxHide]="!sticky" fxShow.lt-md/>
            <a *ngFor="let navItem of navItems" [routerLink]="navItem.link" class="nav__item" fxHide.lt-md>{{navItem.label}}</a>
            <button mat-icon-button>
                <mat-icon class="nav__search-icon" (click)="openSearch()" fxHide.lt-md>search</mat-icon>
            </button>
            <button mat-stroked-button class="nav__menu-button" (click)="openNav()" fxHide.gt-sm>
                Menu <mat-icon>menu</mat-icon>
            </button>
        </div>
        <lasp-search [placeholder]="searchPlaceholder" (close)="closeSearch()"></lasp-search>
    </nav>
</mat-toolbar>

<!-- Overlay nav menu for narrow screens, hidden until "Menu" is clicked -->
<div class="nav-overlay lasp-dark-theme" [class.nav-overlay--open]="navOpen" [class.nav-overlay--immediate-close]="closeNavImmediately" [style.backgroundColor]="mobileNavBgColor">

    <mat-toolbar class="nav-overlay__toolbar" fxLayoutAlign="space-between center">
        <img [src]="smallLogoSrc" class="nav__logo" />
        <button mat-icon-button class="nav-overlay__close" (click)="closeNav()">
            <mat-icon>close</mat-icon>
        </button>
    </mat-toolbar>

    <mat-card class="nav-overlay__search">
        <lasp-search [placeholder]="searchPlaceholder" (searchSent)="closeNav(true)"></lasp-search>
    </mat-card>

    <mat-nav-list class="nav-overlay__items">
        <mat-list-item *ngFor="let navItem of navItems; last as last">
            <a [routerLink]="navItem.link" (click)="closeNav(true)" class="nav-overlay__item">{{navItem.label}}</a>
        </mat-list-item>
    </mat-nav-list>
</div>
