$lisird-orange: (
  50 : #fdf1e0,
  100 : #fadbb3,
  200 : #f7c480,
  300 : #f3ac4d,
  400 : #f19a26,
  500 : #ee8800,
  600 : #ec8000,
  700 : #e97500,
  800 : #e76b00,
  900 : #e25800,
  A100 : #ffffff,
  A200 : #ffe3d6,
  A400 : #ffc1a3,
  A700 : #ffb08a,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #000000,
    600 : #000000,
    700 : #000000,
    800 : #000000,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);

$slate-gray: (
  50 : #e5e5e6,
  100 : #bebfc1,
  200 : #929498,
  300 : #66696f,
  400 : #464950,
  500 : #252931,
  600 : #21242c,
  700 : #1b1f25,
  800 : #16191f,
  900 : #0d0f13,
  A100 : #5882ff,
  A200 : #255cff,
  A400 : #003cf1,
  A700 : #0036d8,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #ffffff,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #ffffff,
    A400 : #ffffff,
    A700 : #ffffff,
  )
);

$cu-gold: (
  50 : #f9f6ef,
  100 : #f1ead8,
  200 : #e7dcbe,
  300 : #ddcda3,
  400 : #d6c390,
  500 : #cfb87c,
  600 : #cab174,
  700 : #c3a869,
  800 : #bda05f,
  900 : #b2914c,
  A100 : #ffffff,
  A200 : #fff3db,
  A400 : #ffe2a8,
  A700 : #ffda8f,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #000000,
    600 : #000000,
    700 : #000000,
    800 : #000000,
    900 : #000000,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);

$lasp-red: (
  50 : #fde4e5,
  100 : #fabbbd,
  200 : #f68e92,
  300 : #f26066,
  400 : #f03e45,
  500 : #ed1c24,
  600 : #eb1920,
  700 : #e8141b,
  800 : #e51116,
  900 : #e0090d,
  A100 : #ffffff,
  A200 : #ffd7d7,
  A400 : #ffa4a5,
  A700 : #ff8b8c,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);

$lasp-blue: (
  50 : #e6e6f2,
  100 : #c0c1de,
  200 : #9798c9,
  300 : #6d6fb3,
  400 : #4d50a2,
  500 : #2e3192,
  600 : #292c8a,
  700 : #23257f,
  800 : #1d1f75,
  900 : #121363,
  A100 : #9a9bff,
  A200 : #6769ff,
  A400 : #3437ff,
  A700 : #1a1dff,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #ffffff,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #ffffff,
    A400 : #ffffff,
    A700 : #ffffff,
  )
);

$left-planet: (
  50 : #f7f7f7,
  100 : #ebebec,
  200 : #dedee0,
  300 : #d0d1d3,
  400 : #c6c7c9,
  500 : #bcbdc0,
  600 : #b6b7ba,
  700 : #adaeb2,
  800 : #a5a6aa,
  900 : #97989c,
  A100 : #ffffff,
  A200 : #ffffff,
  A400 : #d6e4ff,
  A700 : #bdd3ff,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #000000,
    600 : #000000,
    700 : #000000,
    800 : #000000,
    900 : #000000,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);

$middle-planet: (
  50 : #f2f4fa,
  100 : #dee5f3,
  200 : #c8d3eb,
  300 : #b1c1e2,
  400 : #a1b4dc,
  500 : #90a7d6,
  600 : #889fd1,
  700 : #7d96cc,
  800 : #738cc6,
  900 : #617cbc,
  A100 : #ffffff,
  A200 : #f6f9ff,
  A400 : #c3d4ff,
  A700 : #aac2ff,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #000000,
    600 : #000000,
    700 : #000000,
    800 : #000000,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);

$right-planet: (
  50 : #effafe,
  100 : #d7f2fd,
  200 : #bde9fb,
  300 : #a3e0f9,
  400 : #8fdaf8,
  500 : #7bd3f7,
  600 : #73cef6,
  700 : #68c8f5,
  800 : #5ec2f3,
  900 : #4bb7f1,
  A100 : #ffffff,
  A200 : #ffffff,
  A400 : #e4f5ff,
  A700 : #caecff,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #000000,
    600 : #000000,
    700 : #000000,
    800 : #000000,
    900 : #000000,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);
