@import '~@angular/material/theming';
@import './theme-palette';

// from https://material.angular.io/guide/theming:
// "The theme file should not be imported into other SCSS files.
// This will cause duplicate styles to be written into your CSS output.
// If you want to consume the theme definition object (e.g., $candy-app-theme) in other SCSS files,
// then the definition of the theme object should be broken into its own file,
// separate from the inclusion of the mat-core and angular-material-theme mixins."

// this file defines color variables that can be used throughout the app
// the initial variable declarations with the palettes need to be repeated from the theme file

// $primary:                mat-palette($slate-gray, 400);
$primary:                   mat-palette($lasp-blue, 700);
$accent:                    mat-palette($cu-gold, 500, 300, 700);
$warn:                      mat-palette($lasp-red, A200, A100, 500);

$color-primary:             mat-color($primary);
$color-primary-contrast:    mat-color($primary, default-contrast);
$color-accent:              mat-color($accent);
$color-warn:                mat-color($warn);

$primary-dark:              mat-palette($lisird-orange, 500, 300, 700);
$accent-dark:               mat-palette($mat-blue-gray, 600);
$warn-dark:                 mat-palette($mat-red, A200);

$color-primary-dark:        mat-color($primary-dark);
$color-accent-dark:         mat-color($accent-dark);
$color-warn-dark:           mat-color($warn-dark);

$color-background-dark: #26375a;

$color-info: #617cbc;
$color-success: #80d5be;
