<mat-card class="model-content">
    <mat-tab-group backgroundColor="primary" color="accent">
        <mat-tab label="Single Point">
            <form class="form" [formGroup]="modelForm" (ngSubmit)="onSubmit()">
                <div class="form__control-group">
                    <div class="form__column">
                        <mat-card-title>Satellite</mat-card-title>
                        <div class="form__row">
                            <div class="form__column">
                                <mat-form-field floatLabel="always" class="form__field form__field--wide">
                                    <mat-label>Object Type</mat-label>
                                    <mat-select formControlName="objectType" panelClass="form__select">
                                        <ng-container *ngFor="let type of objectTypes">
                                            <mat-option *ngIf="type !== 'geometry file'" [value]="type" >
                                                {{type === 'plate' ? 'plate (one sided)' : type}}
                                            </mat-option>
                                        </ng-container>
                                        <mat-optgroup label="geometry files (.wrl format):">
                                            <mat-option *ngFor="let geometry of geometryFiles" value="custom" (click)="getFileId(geometry)">
                                                <span *ngIf="geometry.identifier">{{ geometry.label }}</span>
                                                <input *ngIf="!geometry.identifier"
                                                type="file"
                                                accept=".wrl"
                                                (change)="fileUpload($event.target.files[0])"
                                                >
                                                <span *ngIf="geometry.label === 'upload'">{{ uploadedFileName }}</span>
                                            </mat-option>
                                        </mat-optgroup>
                                    </mat-select>
                                    <mat-hint>select satellite shape</mat-hint>
                                    <mat-error *ngIf="modelForm.controls.objectType.invalid">{{getValidationMessage('objectType')}}</mat-error>
                                </mat-form-field>
                                <div *ngIf="fileNotChosen" class="form__warning">{{fileNotChosen}}</div>
                            </div>
                            <mat-form-field *ngIf="showDiameter" floatLabel="always" class="form__field">
                                <mat-label>Diameter (m)</mat-label>
                                <input matInput type="number" formControlName="diameter">
                                <mat-hint>diameter of satellite in meters</mat-hint>
                                <mat-error *ngIf="modelForm.controls.diameter.invalid">{{getValidationMessage('diameter')}}</mat-error>
                            </mat-form-field>
                            <mat-form-field  *ngIf="showLength" floatLabel="always" class="form__field">
                                <mat-label>Length (m)</mat-label>
                                <input matInput type="number" formControlName="length">
                                <mat-hint>length of satellite in meters</mat-hint>
                                <mat-error *ngIf="modelForm.controls.length.invalid">{{getValidationMessage('length')}}</mat-error>
                            </mat-form-field>
                            <mat-form-field *ngIf="showArea" floatLabel="always" class="form__field">
                                <mat-label>Area (m<sup>2</sup>)</mat-label>
                                <input matInput type="number" formControlName="area">
                                <mat-hint>flat plate area in meters squared</mat-hint>
                                <mat-error *ngIf="modelForm.controls.area.invalid">{{getValidationMessage('area')}}</mat-error>
                            </mat-form-field>
                            <mat-form-field *ngIf="showPitch" floatLabel="always" class="form__field">
                                <mat-label>Pitch (deg)</mat-label>
                                <input matInput type="number" formControlName="pitch">
                                <mat-hint>pitch angle of satellite in degrees</mat-hint>
                                <mat-error *ngIf="modelForm.controls.pitch.invalid">{{getValidationMessage('pitch')}}</mat-error>
                            </mat-form-field>
                            <mat-form-field  *ngIf="showSideslip" floatLabel="always" class="form__field">
                                <mat-label>Sideslip (deg)</mat-label>
                                <input matInput type="number" formControlName="sideslip">
                                <mat-hint>sideslip angle of satellite in degrees</mat-hint>
                                <mat-error *ngIf="modelForm.controls.sideslip.invalid">{{getValidationMessage('sideslip')}}</mat-error>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="form__column">
                        <mat-card-title>Ambient Conditions</mat-card-title>
                        <div class="form__row">
                            <mat-form-field floatLabel="always" class="form__field">
                                <mat-label>Temperature (K)</mat-label>
                                <input matInput type="number" formControlName="temperature">
                                <mat-hint>atmospheric temperature in Kelvin</mat-hint>
                                <mat-error *ngIf="modelForm.controls.temperature.invalid">{{getValidationMessage('temperature')}}</mat-error>
                            </mat-form-field>
                            <mat-form-field floatLabel="always" class="form__field">
                                <mat-label>Speed (m/s)</mat-label>
                                <input matInput  type="number" formControlName="speed">
                                <mat-hint>speed in meters/second</mat-hint>
                                <mat-error *ngIf="modelForm.controls.speed.invalid">{{getValidationMessage('speed')}}</mat-error>
                            </mat-form-field>
                        </div>
                        <div class="form__parent-label">Composition</div>
                        <div class="form__parent" formGroupName="composition">
                            <div class="form__row">
                                <mat-form-field floatLabel="always" class="form__field">
                                    <mat-label>O (m<sup>-3</sup>)</mat-label>
                                    <input matInput type="number" formControlName="o">
                                    <mat-hint>atomic oxygen number density per cubic meter</mat-hint>
                                    <mat-error *ngIf="modelForm.controls.composition.invalid">{{getValidationMessage('composition', 'o')}}</mat-error>
                                </mat-form-field>
                                <mat-form-field floatLabel="always" class="form__field">
                                    <mat-label>O<sub>2</sub> (m<sup>-3</sup>)</mat-label>
                                    <input matInput type="number" formControlName="o2">
                                    <mat-hint>molecular oxygen number density per cubic meter</mat-hint>
                                    <mat-error *ngIf="modelForm.controls.composition.invalid">{{getValidationMessage('composition', 'o2')}}</mat-error>
                                </mat-form-field>
                                <mat-form-field floatLabel="always" class="form__field">
                                    <mat-label>N<sub>2</sub> (m<sup>-3</sup>)</mat-label>
                                    <input matInput type="number" formControlName="n2">
                                    <mat-hint>molecular nitrogen number density per cubic meter</mat-hint>
                                    <mat-error *ngIf="modelForm.controls.composition.invalid">{{getValidationMessage('composition', 'n2')}}</mat-error>
                                </mat-form-field>
                                <mat-form-field floatLabel="always" class="form__field">
                                    <mat-label>He (m<sup>-3</sup>)</mat-label>
                                    <input matInput type="number" formControlName="he">
                                    <mat-hint>helium number density per cubic meter</mat-hint>
                                    <mat-error *ngIf="modelForm.controls.composition.invalid">{{getValidationMessage('composition', 'he')}}</mat-error>
                                </mat-form-field>
                                <mat-form-field floatLabel="always" class="form__field">
                                    <mat-label>H (m<sup>-3</sup>)</mat-label>
                                    <input matInput type="number" formControlName="h">
                                    <mat-hint>hydrogen number density per cubic meter</mat-hint>
                                    <mat-error *ngIf="modelForm.controls.composition.invalid">{{getValidationMessage('composition', 'h')}}</mat-error>
                                </mat-form-field>
                            </div>
                        </div>
                    </div>
                    <div class="form__column">
                        <mat-card-title>Surface Conditions</mat-card-title>
                        <div class="form__row">
                            <mat-form-field floatLabel="always" class="form__field form__field--wide">
                                <mat-label>Energy Accommodation Model</mat-label>
                                <mat-select  formControlName="accommodationModel">
                                    <mat-option *ngFor="let model of models" [value]="model">
                                        {{model}}
                                    </mat-option>
                                </mat-select>
                                <mat-hint>model to use for energy accommodation value</mat-hint>
                                <mat-error *ngIf="modelForm.controls.accommodationModel.invalid">{{getValidationMessage('accommodationModel')}}</mat-error>
                            </mat-form-field>
                            <mat-form-field *ngIf="showEnergyAccommodation" floatLabel="always" class="form__field form__field--wide">
                                <mat-label>Energy Accommodation</mat-label>
                                <input matInput formControlName="energyAccommodation">
                                <mat-hint>alpha</mat-hint>
                                <mat-error *ngIf="modelForm.controls.energyAccommodation.invalid">{{getValidationMessage('energyAccommodation')}}</mat-error>
                            </mat-form-field>
                            <mat-form-field  *ngIf="showSurfaceMass" floatLabel="always" class="form__field">
                                <mat-label>Surface Mass (amu)</mat-label>
                                <input matInput type="number" formControlName="surfaceMass">
                                <mat-hint>surface mass in amu</mat-hint>
                                <mat-error *ngIf="modelForm.controls.surfaceMass.invalid">{{getValidationMessage('surfaceMass')}}</mat-error>
                            </mat-form-field>
                        </div>
                    </div>
                </div>
                <div class="form__submit">
                    <button mat-raised-button [disabled]="modelForm.invalid || fileNotChosen" color="primary" type="submit">Submit</button>
                </div>
            </form>
            <div class="results">
                <div class="results__item">
                    <mat-card-title>
                        Submission Values <span class="results__invalid" *ngIf="modelForm.invalid">(invalid)</span>
                    </mat-card-title>
                    <pre>
                        {{ payload | json }}
                    </pre>
                    <div *ngIf="invalidFields?.length" class="results__invalid">
                        {{ invalidFieldMessage }}
                    </div>
                </div>
                <div class="results__item" [class.results__item--hidden]="!vrmlImageSrc">
                    <ng-container *ngIf="vrmlImageSrc">
                        <mat-card-title>
                            Geometry
                        </mat-card-title>
                        <div>
                            {{ uploadedFileName || geometryFileName }}
                        </div>
                        <img
                        [src]="vrmlImageSrc"
                        alt="image from vrml file"
                        width="275"
                        >
                        <div class="results__caption">Direction of velocity is towards the viewer.</div>
                    </ng-container>
                </div>

                <div class="results__item" [class.results__item--hidden]="!results">
                    <mat-card-title>
                        Results
                    </mat-card-title>
                    <mat-card>
                        <div class="results__key-value" *ngFor="let result of results | keyvalue">
                            <p>
                                <span>
                                    <strong *ngIf="resultTranslator[result.key].title">{{ resultTranslator[result.key].title }}</strong>
                                    <strong *ngIf="!resultTranslator[result.key].title">{{ result.key }}</strong>:
                                    {{ result.value }}
                                </span>
                                <span class="results__units" [innerHtml]="resultTranslator[result.key].units"></span>
                            </p>
                        </div>
                    </mat-card>
                </div>
            </div>
        </mat-tab>
        <mat-tab label="Multi Point">
            <div class="form">
                Multi point file upload coming soon.
            </div>
        </mat-tab>
    </mat-tab-group>
</mat-card>
