// allows the navbar to stick to the top of the page in Safari
:host {
    display: contents;
}

.page-content {
    min-width: 360px;
    max-width: 960px;
    min-height: 300px;
    margin: 0 auto;
    padding: 2em 1.5em 3em 1.5em;
}
