<lasp-nav
    largeLogoSrc="assets/images/base-app-logo.jpg"
    [navItems]="navItems"
    orgLogoSrc="https://lasp.colorado.edu/media/projects/base-app/images/header-lasp-logo.png"
    searchPlaceholder="Search Datasets or Missions"
    smallLogoSrc="assets/images/base-app-logo-small.png">
</lasp-nav>

<div class="page-content">
    <!-- Routed components go here -->
    <router-outlet></router-outlet>
</div>

<lasp-footer
    [navItems]="navItems"
    [orgLogos]="orgLogos"
    [productVersions]="versions"
    [socialLinks]="socialLinks">
</lasp-footer>
