<lasp-nav
    largeLogoSrc="assets/images/swt-logo.jpg"
    [navItems]="navItems"
    orgLogoSrc="./assets/images/swt-tall.png"
    orgLogoDestination="https://www.colorado.edu/spaceweather/"
    smallLogoSrc="assets/images/swt-logo-small.png">
</lasp-nav>

<div class="page-content">
    <!-- Routed components go here -->
    <router-outlet></router-outlet>
</div>

<lasp-footer
    [navItems]="navItems"
    [orgLogos]="orgLogos"
    [productVersions]="versions"
    [socialLinks]="socialLinks">
</lasp-footer>
