@use '~lasp-base-app-snippets/styles/misc';
@include misc.ignore-max-page-width;
@import 'src/theme/theme-colors.scss';
$helper-font-size: 8pt;

.viz {
    &__altitude {
        flex: 1;
        border: 5px solid $color-primary;
        border-radius: 0 0 4px 0;
        border-left: none;
        padding: 0;
    }
    &__body {
        display: flex;
    }
    &__dateTime {
        display: inline-block;
        ::ng-deep {
            .mat-form-field-outline-start {
                color: $color-primary;
                border-width: 2.5px;
            }
            .mat-form-field-outline-gap {
                color: $color-primary;
                border-width: 2.5px;
            }
            .mat-form-field-outline-end {
                color: $color-primary;
                border-width: 2.5px;
            }
        }
    }
    &__download {
        position: absolute;
        right: 20px;
    }
    &__error-group {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    &__field {
        width: 150px;
        &:not(:last-child) {
            margin-right: 0.5rem;
        }
        ::ng-deep {
            .mat-form-field-subscript-wrapper {
                margin-top: 0;
                padding: 0;
                font-size: 70%;
            }
            .mat-form-field-infix {
                padding: 0.4rem 0;
            }
        }
        &--small {
            width: 110px;
        }
    }
    &__form-group {
        padding: 0.3rem 0 0.7rem 0;
    }
    &__header-form {
        display: flex;
        justify-content: center;
        padding: 1rem;
    }
    &__graphic {
        height: 525px;
    }
    &__group-label {
        margin-right: 1rem;
    }
    &__header {
        display: flex;
        justify-content: center;
        padding: 1rem;
        padding-bottom: 0.3rem;
        border: 5px solid $color-primary;
        border-radius: 4px 4px 0 0;
        border-bottom: none;
        &--column {
            flex-direction: column;
            align-items: center;
        }
    }
    &__surface {
        border: 5px solid $color-primary;
        border-radius: 0 0 0 4px;
        padding: 0;
        flex: 4;
    }
    .mat-error {
        font-size: $helper-font-size;
    }
    &__variables {
        width: 100%;
        display: flex;
        justify-content: center;
    }
}
