@use '~lasp-base-app-snippets/styles/misc';
@include misc.ignore-max-page-width;
@import 'src/theme/theme-colors.scss';
$helper-font-size: 8pt;

.viz {
    &__altitude {
        margin-top: 1rem;
        flex: 1;
    }
    &__body {
        display: flex;
        justify-content: space-between;
    }
    &__graphic {
        margin: 1rem 0;
        border: 1px solid $color-accent;
        height: 525px;
    }
    &__group-label {
        margin-right: 1rem;
    }
    &__header {
        display: flex;
        justify-content: center;
        padding: 1rem;
        padding-bottom: 0.3rem;
        border: 5px solid $color-primary;
        border-radius: 4px;
        &--column {
            flex-direction: column;
            align-items: center;
        }
    }
    &__field {
        &:not(:last-child) {
            margin-right: 0.5rem;
        }
        ::ng-deep {
            .mat-form-field-subscript-wrapper {
                margin-top: 0.2em;
                padding: 0 0.3em;
            }
            .mat-form-field-infix {
                padding: 0.7rem 0;
            }
        }
        &--small {
            width: 110px;
        }
    }
    &__surface {
        margin-top: 1rem;
        margin-right: 1rem;
        flex: 4;
    }
    .mat-error {
        font-size: $helper-font-size;
    }
    &__variables {
        width: 100%;
        display: flex;
        justify-content: center;
    }
}
