@import 'src/theme/theme-colors.scss';
$helper-font-size: 8pt;

.form {
    margin: 1rem;
    &__column {
        position: relative;
        display: flex;
        flex-direction: column;
        padding: 0.3rem;
    }
    &__control-group {
        display: flex;
        flex-direction: column;
    }
    &__field {
        width: 140px;
        margin-right: 1rem;
        margin-bottom: 0.33rem;
        .mat-hint {
            visibility: hidden;
            font-size: $helper-font-size;
        }
        ::ng-deep {
            .mat-form-field-subscript-wrapper {
                margin-top: 0.2em;
            }
            .mat-form-field-infix {
                padding: 0.7rem 0;
            }
        }
        &:hover {
            .mat-hint {
                visibility: visible;
            }
        }
        &--wide {
            width: 190px;
        }
    }
    &__invalid {
        color: $color-warn;
    }
    &__outer-header {
        position: relative;
        left: -2rem;
    }
    &__parent {
        border: 1px solid rgba(0, 0, 0, 0.12);
        border-radius: 5px;
        padding: 0.75rem 0.5rem;
    }
    &__parent-label {
        align-self: start;
        color: rgba(0, 0, 0, 0.6);
        position: relative;
        background-color: white;
        padding: 0 0.25rem 0 0.25rem;
        left: 8px;
        top: 8px;
        font-size: small;
    }
    &__result {
        flex: 1;
        padding: 0.5rem;
        min-width: 295px;
        &--hidden {
            visibility: hidden;
        }
    }
    &__result-item {
        text-align: right;
        @media (min-width: 810px) {
            width: 80%;
        }
    }
    &__result-units {
        display: inline-block;
        font-size: smaller;
        text-align: left;
        width: 2rem;
    }
    &__results {
        margin-top: 1rem;
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
    }
    &__row {
        display: flex;
        flex-wrap: wrap;
    }
    &__submit {
        text-align: right;
    }
    .mat-error {
        font-size: $helper-font-size;
    }

}

::ng-deep .mat-select-panel.form__select {
  max-height: 60vh;
}
