@import '../../../theme/theme-colors.scss';
@import '../../../theme/theme-lasp.scss';

.inner-footer {
    background-color: #04072d;
    min-height: 350px;
    height: auto;

    &__org-logos {
        text-align: center;
        white-space: normal;
        > a {
            display: inline-block;
        }
    }

    &__org-logo {
        max-width: 100%;
        max-height: 100px;
        margin: 10px;
    }

    &__social-button-container {
        margin: 10px 0;

        .inner-footer__social-button {
            margin: 10px;

            svg {
                height: 24px;
                width: 24px;

                path {
                    fill: white;
                }
            }

            &--facebook { background-color: #3b5998 }
            &--twitter  { background-color: #1DA1F2 }
            &--youtube  { background-color: #cc181e }
        }
    }

    &__nav-item {
        font-size: 14px;
        height: 56px;
        line-height: 56px;
        overflow-wrap: break-word;
        padding: 0 24px;
        color: white;
        text-decoration: none;

        &:hover {
            color: orange;
            cursor: pointer;
            text-decoration: underline;
        }
    }
}

.outer-footer {
    background-color: $color-primary;
    font-size: 12px;
    padding: 0.5em;
    height: auto;
    color: white;

    a, a:link, a:visited { color: white }
    a:hover { color: #ccc }

    > p {
        margin: 0 1em;
    }
}

.partner-logos {
    background-color: $color-primary;
    height: auto;
    padding: 0.5em;

    a {
        display: block;
        line-height: 0;
        margin: 0 10px 10px 0;

        img {
            height: 100px;
        }
    }
}
