<form class="search-container" fxLayout="row">
    <div fxLayoutAlign="center center">
        <mat-icon aria-label="search">search</mat-icon>
    </div>
    <input id="search" fxFlex [placeholder]="placeholder" name="searchText" [(ngModel)]="searchText" autocomplete="off">
    <button mat-button (click)="search(searchText.trim())" [disabled]="searchText.trim().length === 0">Go</button>
    <button mat-icon-button (click)="closeSearch()" fxHide.xs>
        <mat-icon aria-label="close search">close</mat-icon>
    </button>
</form>
