$component-height: 40px;

.search-container {
    max-width: 800px;
    width: 100%;
    color: #000;
    background-color: #fafafa;
    height: $component-height;
    line-height: $component-height;
    margin: 8px auto;

    input {
        background-color: transparent;
        font-size: 17px;
        outline: none;
        text-rendering: auto;
        border-color: transparent;
        border-style: solid;
        border-width: 0 1px;
        outline: none;
    }

    button {
        height: $component-height;
        width: $component-height;

        mat-icon {
            font-size: 24px;
        }
    }
}

/*
.search-container {
  background-color: transparent;
  color: white;

  ::placeholder {
    color: #b7b7b7;
  }

  input {
    color: white;
  }
}*/
