/* You can add global styles to this file, and also import other style files */
@import 'theme/theme-colors.scss';
@import 'theme/theme-lasp.scss';

html {
    background: #f4f4f4;
}

body {
    font-family: Roboto, Arial, sans-serif;
    margin: 0;
}

* {
    box-sizing: border-box;
}

base-app-root > .page-content > *:not(router-outlet) {
    display: block;
    max-width: 960px;
    min-height: 400px;
    margin: 0 auto;
    padding: 2em 1.5em 3em 1.5em;
}
