/* You can add global styles to this file, and also import other style files */
@import 'theme/theme-colors.scss';
@import 'theme/theme-lasp.scss';

@import '~lasp-base-app-snippets/styles/global.scss';
@include all((
    'primary-color': $color-primary,
    'primary-contrast-color': $color-primary-contrast,
    'accent-color': $color-accent,
    'info-color': $color-info,
    'success-color': $color-success,
    'background-color': black,

    'link-color': mat-color( $accent, 700 ),
    'heading-color': mat-color( $primary, 500 )
));

// you can add color variables from other libraries/name-spaces here as well
/*
:root {
    --library-variablename: #fff;
}
*/

.header__logo--lasp {
    height: 100px !important;
}
