.search-results-container {
    min-height: 960px;
    max-width: 960px;
    margin: 0 auto;
}

.empty-results {
    height: 400px;
    line-height: 400px;
    text-align: center;
}

.search-results {
    padding-bottom: 64px;
}