.wrapper{
  // height: 500px;
  background: url("https://www.nasa.gov/sites/default/files/thumbnails/image/potw1918a.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.title-wrap{
  padding: 100px 0;
  background: rgba(0,0,0,.3);
}

.title, .subtitle{
  color: #fff;
  text-align: center;
  a{
    color: #fff;
  }
}

.title{
  margin: 25px;
  font-size: 60px;
}

.subtitle{
  padding-top: 25px;
  width: 300px;
  margin: 0 auto;
}