$component-height: 44px;

.search-container {
    width: 100%;
    color: #fff;
    background-color: transparent;
    height: $component-height;
    line-height: $component-height;
    margin: 0 auto;

    &__input {
        background-color: transparent;
        border: none;
        color: #fff;
        font-size: 17px;
        margin-left: 10px;
        outline: none;
        text-rendering: auto;
        &::placeholder {
            color: #b7b7b7;
        }
    }

    &__button {
        height: $component-height;
        width: $component-height;
        transition: color 1000ms;
        &:disabled {
            color: transparent;
        }
    }

    &__icon {
        font-size: 24px;
    }
}
